<div class="col-3">
    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">${card_name}</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title"><small class="text-muted">${dimension}</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
                <li>Created at: <h6>${created_at}</h6>
                </li>
            </ul>
            <button data-card-name="${card_name}" data-dimension="${dimension}" data-name="edit_card"
                class="btn btn-lg btn-block btn-primary">Edit</button>
        </div>
    </div>
</div>