<div data-name="addNewCard_container">
    <div class="get-started text-center mt-10 d-none" data-name="get_started_block">
        <span class="mb-4">
            <i class="fas fa-hourglass-start fa-5x"></i>
        </span>
        <p class="mb-3 mt-5 lead font-weight-normal">You haven't created any card yet? Let's get started.</p>
        <button class="mt-5 btn btn-lg btn-primary btn-block" type="button" data-name="get_started" data-toggle="modal"
            data-target=".bd-new-card-modal-xl">
            Get Started
        </button>
    </div>
    <div class="d-none mt-4" data-name="card-list">
        <div class="row" data-name="card-items">
        </div>
    </div>
</div>