<div data-name="designer">
    <div class="mt-4 d-none" id="designContainer">
        <div class="row">
            <div class="col-2">
                <table class="table table-bordered text-center">
                    <tbody>
                        <tr>
                            <td title="Draw a square">
                                <i data-type="toolbar" data-name="rectangle" draggable="true"
                                    class="toolbar fa fa-square fa-3x"></i>
                            </td>
                            <td title="Draw a circle">
                                <i data-type="toolbar" data-name="circle" class="fa fa-circle fa-3x"
                                    draggable="true"></i>
                            </td>
                        </tr>
                        <tr>
                            <td title="Draw a triangle">
                                <i data-type="toolbar" data-name="triangle" draggable="true"
                                    class="fa fa-caret-up fa-3x"></i>
                            </td>
                            <td title="Draw a line">
                                <i data-type="toolbar" data-name="line" draggable="true"
                                    class="fa fa-grip-lines fa-3x"></i>
                            </td>
                        </tr>
                        <tr>
                            <td title="Draw an image">
                                <i data-type="toolbar" draggable="true" data-name="image"
                                    class="fa fa-images fa-3x"></i>
                                <input name="toolbar-img-file" type='file' data-name="toolbar-img-file" class="" />
                            </td>
                            <td title="Create text field">
                                <i data-type="toolbar" data-name="text" draggable="true"
                                    class="fa fa-text-height fa-3x"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-10">
                <div class="row">
                    <div class="col-12">
                        <canvas id="greetingCanvas">

                        </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>